body {
  background: #20262e;
  padding: 20px;
  font-family: Helvetica;
  text-align: center;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
  color: green;
  margin-top: 0;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input {
  margin-right: 5px;
}

h1 {
  font-size: 3rem;
}

.message {
  text-align: center;
}

.card {
  background-color: beige;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 2rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
